{% with text='text', version=1 %}
    {% include 'directory/template.jinja2' %}
{% endwith %}

{% with text='text', version=1 %}
    {% include 'directory/template.jinja2' %}
{% endwith %}

<div>
    {% with text='text', version=1 %}
        {% include 'directory/template.jinja2' %}
    {% endwith %}
</div>